<%- include('./header'); %>
<h3>Welcome to CRUD Operation</h3>
<fieldset class="">
  <form action="/" method="post">
    <label for="product">Product Name</label>
    <input type="text" name="product" />
    <label for="product">Price</label>
    <input type="text" name="price" />
    <input type="submit" name="submit" />
  </form>
</fieldset>

<h4>Output</h4>
<div class="">
  <% items.forEach(element => { %>
  <table>
    <td><%= element.product_name %></td>

    <td><%= element.price %></td>
  </table>

  <% }); %>
</div>

<%- include('./footer'); %>
